* {
    box-sizing: border-box; 
}

header {
    background-color: #343f3e;
    color: #FFFFFF;
    font-family: "Georgia", serif;
    padding: 1em;
}

header a {
    text-decoration: none;
}

header a:link {
    color: #94B0DA;
}

header a:visited {
    color: #94B0DA;
}

header a:hover {
    color: #DCEDFF
}

body {
    background-color: #8F91A2; 
    color: #090B0B; 
    font-family: "Verdana", "Arial", sans-serif;
    margin: 0;

}

body a {
    text-decoration: none;
}

body a:link {
    color: #343f3e;
}

body a:visited {
    color: #343f3e;
}

body a:hover {
    color: #8F91A2
}


h1 {
    color: #8F91A2;
    text-align: center;
    font-size: 1.5em;
}

h2 {
    color: #8F91A2;
    font-family: "Verdana", "Arial", sans-serif;
    text-align: center;
}

h3 {
    color: #8F91A2;
    font-family: "Verdana", "Arial", sans-serif;
}

nav {
    text-align: center;
    background-color: #505A5B;

    font-size: 1.2em;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #94B0DA;
}

nav a:visited {
    color: #94B0DA;
}

nav a:hover {
    color: #DCEDFF;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    padding-bottom: .5em;
    padding-top: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: 1px;
    border-style: solid;
}

main {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

dt {
    color: #002171;
    font-weight: bold;
}

footer {
    padding: 1em;
    font-size: .70em;
    font-style: italic;
    text-align: center;
    background-color: #DCEDFF;
}


footer a:link {
    color: #343F3E;
}

footer a:visited {
    color: #343F3E;
}

footer a:hover {
    color: #000000;
}

section {
    padding-left: .5em;
    padding-right: .5em;
}

table {
    width: 90%;
    margin: auto;
    border-width: 1px;
    border-color: #343f3e;
    border-style: solid;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border-width: 1px;
    border-color: #343f3e;
    border-style: solid;
    text-align: center;
}

th {
    padding: 5px;
    border-width: 1px;
    border-color: #343f3e;
    border-style: solid;
}

table tr:nth-of-type(even) {
    background-color: #94B0DA
}

table tr:nth-of-type(odd) {
    background-color: #DCEDFF
}

table th {
    background-color: #8F91A2;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

form input {
    margin-bottom: .5em;
}

form textarea {
    margin-bottom: .5em;
}

.text {
    text-align: left;
}

#resort {
    color: #8F91A2;
    font-size: 1.2em;
}

#wrapper {
    background-color: #FFFFFF;

}

#index-img {
    height: 100px;
    background-size: 100% 100%;
    background-image: url(images/home-banner.jpg);
}

#players-img {
    height: 100px;
    background-size: 100% 100%;
    background-image: url(images/players-banner.jpg);
}

#enemies-img {
    height: 100px;
    background-size: 100% 100%;
    background-image: url(images/villain-banner.jpg);
}

#ask-img {
    height: 100px;
    background-size: 100% 100%;
    background-image: url(images/dice-banner.jpg);
}

#loc-img {
    height: 100px;
    background-size: 100% 100%;
    background-image: url(images/loc-banner.jpg);
}

#caz-img {
    width: 200px;
    height: 287px;
    background-image: url(images/caz-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#hanoi-img {
    width: 200px;
    height: 243px;
    background-image: url(images/hanoi-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#hexer-img {
    width: 200px;
    height: 259px;
    background-image: url(images/hexer-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gwen-img {
    width: 200px;
    height: 299px;
    background-image: url(images/gwen-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#keely-img {
    width: 200px;
    height: 274px;
    background-image: url(images/keely-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#saoirse-img {
    width: 200px;
    height: 344px;
    background-image: url(images/saoirse-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#cromwell-img {
    width: 200px;
    height: 309px;
    background-image: url(images/cromwell-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#erlinger-img {
    width: 200px;
    height: 274px;
    background-image: url(images/erlinger-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#john-img {
    width: 200px;
    height: 262px;
    background-image: url(images/johnfogcloud-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#silvania-img {
    width: 200px;
    height: 276px;
    background-image: url(images/silvania-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#thecorsair-img {
    width: 200px;
    height: 232px;
    background-image: url(images/thecorsair-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#weasel-img {
    width: 200px;
    height: 287px;
    background-image: url(images/weasel-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mapholder {
    text-align: center;
}

.two-wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

}

.two-wide-box {
    padding: 20px;
}

.mobile-small-text {
    font-size: x-small;
}

#desktop {
    display: none;
}

#hideinmobile {
    display: none; 
}

#hideinfull {
    display: block;
}

.hideinfull {
    display: block;
}

.askdm {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 600px) {

h1 {
    font-size: 2em;
    letter-spacing: .25em;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-right: 2em;
    }

nav li {
    width: 12em;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

section {
    padding-left: 2em;
    padding-right: 2em;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 50%;
}

form input[type="submit"] {
    height: 2em;
}

#flow {
    display: flex; 
    flex-direction: row;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

#index-img {
    height: 300px;
    background-size: 100% 100%;
}

#players-img {
    height: 300px;
    background-size: 100% 100%;
}

#enemies-img {
    height: 300px;
    background-size: 100% 100%;
}

#loc-img {
    height: 300px;
    background-size: 100% 100%;
}

#ask-img {
    height: 300px;
    background-size: 100% 100%;
}

#caz-img {
    width: 600px;
    height: 861px;
    background-image: url(images/caz-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#hanoi-img {
    width: 600px;
    height: 729px;
    background-image: url(images/hanoi-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#hexer-img {
    width: 600px;
    height: 777px;
    background-image: url(images/hexer-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gwen-img {
    width: 600px;
    height: 897px;
    background-image: url(images/gwen-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#keely-img {
    width: 600px;
    height: 822px;
    background-image: url(images/keely-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#saoirse-img {
    width: 600px;
    height: 1032px;
    background-image: url(images/saoirse-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#cromwell-img {
    width: 600px;
    height: 929px;
    background-image: url(images/cromwell-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#erlinger-img {
    width: 600px;
    height: 822px;
    background-image: url(images/erlinger-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#john-img {
    width: 600px;
    height: 788px;
    background-image: url(images/johnfogcloud-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#silvania-img {
    width: 600px;
    height: 828px;
    background-image: url(images/silvania-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#thecorsair-img {
    width: 600px;
    height: 698px;
    background-image: url(images/thecorsair-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#weasel-img {
    width: 600px;
    height: 863px;
    background-image: url(images/weasel-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#hideinfull {
    display: none;
}

#hideinmobile {
    display: block;
}

#mapholder {
    text-align: center;
}

.mobile-small-text {
    font-size: medium
}

.askdm {
    display: flex;
    justify-content: center;
    align-items: center;
}


}