{% extends 'base.html' %}

{% block content %}
<title>Add a Foster</title>
<h1>Add a Foster</h1>

<div class="form-container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_fosterName">Foster Name</label>
            {{ fosterFormKey.fosterName }}
        </div>

        <div class="form-group">
            <label for="id_fosterStreet">Street</label>
            {{ fosterFormKey.fosterStreet }}
        </div>

        <div class="form-group">
            <label for="id_fosterCity">City</label>
            {{ fosterFormKey.fosterCity }}
        </div>

        <div class="form-group">
            <label for="id_fosterState">State</label>
            {{ fosterFormKey.fosterState }}
        </div>

        <div class="form-group">
            <label for="id_fosterZip">Zip Code</label>
            {{ fosterFormKey.fosterZip }}
        </div>

        <div class="form-group">
            <label for="id_fosterEmail">Email</label>
            {{ fosterFormKey.fosterEmail }}
        </div>

        <div class="form-group">
            <label for="id_fosterPhone">Phone</label>
            {{ fosterFormKey.fosterPhone }}
        </div>

        <button type="submit" class="btn-submit">Submit</button>
    </form>
</div>
{% endblock %}
