<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pettracker.css' %}">
<style>
    .logout-button {
        background: none;
        border: none;
        color: blue; 
        cursor: pointer;
        padding: 0;
        font-size: inherit; 
        text-decoration: underline;
    }

    .logout-button:hover {
        color: darkblue; /
    }
</style>
    
</head>
    <body>
        </header>
            <div class="navheader">
                <table>
                    <tr>
                        <td>
                            <a href="{% url 'index' %}">Home</a>
                        </td>
                        <td>
                            <a href="{% url 'viewpets' %}">Our Pets</a>
                        </td> 
                        <td>
                            <a href="{% url 'viewfoster' %}">Fosters</a>
                        </td>
                        <td>
                            <a href="{% url 'vieworg' %}">Organizations</a>
                        </td>

                            {% if request.user.is_authenticated %}
                            <td>
                            <a href="{% url 'addpet' %}">Add a pet</a>
                            </td> 
                            {% endif %}


                            {% if request.user.is_authenticated %}
                            <td>
                            <a href="{% url 'addfoster' %}">Add a foster</a>
                            </td>
                            {% endif %}


                            {% if request.user.is_authenticated %}
                            <td>
                            <a href="{% url 'addorg' %}">Add an organization</a>
                            </td>    
                            {% endif %}
                            <td>
                            {% if request.user.is_authenticated %}

                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="logout-button">Logout</button>
                            </form>
                            {% else %}
                            <a href="{% url 'login' %}">Log in</a>
                            </td>    
                            {% endif %}
  
                    </tr>
                </table>
            </div>
        </header>
        <main class="container"></main>
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>