{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pettracker.css' %}">
    <title>{% block title %}Pet Tracker{% endblock %}</title>
</head>
{% load user_tags %}
<body>
    <header class="navheader">
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'viewpets' %}">Our Pets</a>

            {% if request.user.is_authenticated %}

                <a href="{% url 'viewfoster' %}">Fosters</a>
                <a href="{% url 'vieworg' %}">Organizations</a>

                {% if request.user|in_group:'admins' or request.user|in_group:'superadmins' %}
                    <a href="{% url 'addpet' %}">Add a Pet</a>
                    <a href="{% url 'addfoster' %}">Add a Foster</a>
                    <a href="{% url 'addorg' %}">Add an Organization</a>
                {% endif %}

                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        </nav>
    </header>

    <main class="container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
</body>
</html>