{% extends 'base.html' %}

{% block content %}
<head>
    <title>{{ foster.fosterName }}'s profile</title>
</head>

Name: {{ foster.fosterName }}<br>
Address: {{ foster.fosterStreet }}, {{ foster.fosterCity }}, {{ foster.fosterState.upper }} {{ foster.fosterZip }}<br>
E-mail: {{ foster.fosterEmail }}<br>
Phone: {{ foster.fosterPhone }}<br>
<br>


{% if fostering.count > 0 %}
    Currently fostering:<br>
    {% for f in fostering %}
    <a href="{% url 'petdetail' f.petID %}">{{f.petName}}</a><br>
    {% endfor %}
{% else %}
No current fosters.<br>
{% endif %}

<br><br>
<a href="/viewfosters">See All Fosters</a>
{% endblock %}