{% extends 'base.html' %}

{% block content %}
<title>{{ org.orgName }}'s Profile</title>
<h1>{{ org.orgName }}'s Profile</h1>

<div class="org-details-container">
    <div class="org-info">
        <p><strong>Name:</strong> {{ org.orgName }}</p>
        <p><strong>Contact:</strong> {{ org.orgContact }}</p>
        <p><strong>Street:</strong> {{ org.orgStreet }}</p>
        <p><strong>City:</strong> {{ org.orgCity }}</p>
        <p><strong>State:</strong> {{ org.orgState }}</p>
        <p><strong>Zip Code:</strong> {{ org.orgZip }}</p>
        <p><strong>Email:</strong> <a href="mailto:{{ org.orgEmail }}">{{ org.orgEmail }}</a></p>
        <p><strong>Phone:</strong> <a href="tel:{{ org.orgPhone }}">{{ org.orgPhone }}</a></p>

        <h2>Pets in this Organization:</h2>
        <ul>
            {% for pet in current %}
                <li><a href="{% url 'petdetail' pet.petID %}">{{ pet.petName }}</a></li>
            {% empty %}
                <li>No pets currently available from this organization.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="back-link">
    <a href="{% url 'vieworg' %}">See All Organizations</a>
</div>
{% endblock %}
