{% extends 'base.html' %}

{% block content %}
<head>
    <title>{{ pet.petName }}'s profile</title>
</head>
<body>
    Name: {{ pet.petName }}<br>
    Type: {{ pet.petType }}<br>
    Sex: {{ pet.petSex}}<br>
    DOB: {{ pet.petDOB }}<br>
    Spayed or Neutered: {{ pet.petSpayNeuter}}<br>
    Status: {{ pet.petStatus}}<br>
    
    {% if pet.petOrganization %}
    Organization: {{pet.petOrganization}}<br>
    {% endif %}

    {% if pet.petFoster %}
    Foster: {{pet.petFoster}}<br>
    {% endif %}

    {% if pet.petImage %}
    <img src="{{ pet.petImage.url }}" width="400" height="400"><br><br>
    {% else %}
    No image available<br>
    {% endif %}

    Bio:<br> {{pet.petBio}}<br><br>

    <a href="/viewpets">Back</a>
</body>
{% endblock %}