{% extends 'base.html' %}

{% block content %}
<head>
    <title>{{ pet.petName }}'s profile</title>
</head>
<body>
    Name: {{ pet.petName }}<br>
    Type: {{ pet.petType }}<br>
    Sex: {{ pet.petSex}}<br>
    DOB: {{ pet.petDOB }}<br>
    Spayed or Neutered: {{ pet.petSpayNeuter}}<br>
    Status: {{ pet.petStatus}}<br>
    
    {% if pet.petOrganization %}
        Organization: <a href="{% url 'orgdetail' pet.petOrganization.orgID %}">{{pet.petOrganization}}</a><br>
    {% endif %}

    {% if pet.petFoster %}
        Foster: <a href="{% url 'fosterdetail' pet.petFoster.fosterID %}">{{pet.petFoster}}</a><br>
    {% endif %}

    {% if pet.petImage %}
    <img src="{{ pet.petImage.url }}" width="400"><br><br>
    {% else %}
    No image available<br>
    {% endif %}

    Bio:<br> {{pet.petBio}}<br><br>

    <a href="/viewpets">See All Pets</a>
</body>
{% endblock %}