{% extends 'base.html' %}

{% block content %}
<title>Our Pets</title>
<h1>Our Pets</h1>
Click a row in the table to be taken to that pet's profile.
<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Type</th>
        <th>Sex</th>
        <th>DOB</th>
        <th>Fixed</th>
        <th>Status</th>
        <th>Organization</th>
        <th>Foster</th>
    </tr>
    {% for pet in pets %}
        <tr class='clickable' onclick="window.location='{% url 'petdetail' pet.petID %}'">
            <td>
                {% if pet.petImage %}
                    <img src="{{ pet.petImage.url }}" class="thumbnail">
                {% else %}
                    No image
                {% endif %}
            </td>
            <td>{{ pet.petName }}</td>
            <td>{{ pet.petType }}</td>
            <td>{{ pet.petSex }}</td>
            <td>{{ pet.petDOB }}</td>
            <td>{{ pet.petSpayNeuter }}</td>
            <td>{{ pet.petStatus }}</td>
            <td>
                {% if pet.petOrganization %}
                    <a href="{% url 'orgdetail' pet.petOrganization.orgID %}">{{ pet.petOrganization }}</a>
                {% else %}
                    {{ pet.petOrganization }}
                {% endif %}
            </td>
            <td>
                {% if pet.petFoster %}
                <a href="{% url 'fosterdetail' pet.petFoster.fosterID %}">{{ pet.petFoster }}</a>
                {% else %}
                    {{ pet.petFoster }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
