{% extends 'base.html' %}

{% block content %}
<head>
    <title>Fosters</title>
</head>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>e-mail</th>
        <th>Phone</th>
    </tr>
{% for foster in fosters %}
    <tbody>
        <td>{{foster.fosterID}}</td>
        <td><a href="{% url 'fosterdetail' organization.orgID %}"> {{foster.fosterName}}</a></td>
        <td>{{foster.fosterEmail}}</td>
        <td>{{foster.fosterPhone}}</td>
    </tbody>       
{% endfor %}
</table>
{% endblock %}