<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fosters</title>
</head>
<body>


    <div class="navheader">
        <table>
            <tr>
                <td>
                    <a href="{% url 'index' %}">Home</a>
                </td>
                <td>
                    <a href="{% url 'viewpets' %}">Our Pets</a>
                </td> 
                <td>
                    <a href="{% url 'viewfoster' %}">Fosters</a>
                </td>
                <td>
                    <a href="{% url 'vieworg' %}">Organizations</a>
                </td>
                <td>
                    <a href="{% url 'index' %}">Add a pet</a>
                </td> 
                <td>
                    <a href="{% url 'index' %}">Add a foster</a>
                </td>
                <td>
                    <a href="{% url 'index' %}">Add an organization</a>
                </td>      
            </tr>
        </table>
    </div>

    <ul>
    {% for foster in fosters %}
        <li>
            <a href="{% url 'fosterdetail' foster.fosterID %}"> {{foster.fosterName}}</a>
        </li>        
    {% endfor %}

    </ul>


</body>
</html>