{% extends 'base.html' %}

{% block content %}
<head>
    <title>Pets</title>
</head>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contact Person</th>
        <th>Contact Phone</th>
        <th>Contact e-mail</th>
    </tr>
{% for organization in organizations %}
    <tbody>
        <td>{{organization.orgID}}</td>
        <td><a href="{% url 'orgdetail' organization.orgID %}"> {{organization.orgName}}</a></td>
        <td>{{organization.orgContact}}</td>
        <td>{{organization.orgPhone}}</td>
        <td>{{organization.orgEmail}}</td>
    </tbody>       
{% endfor %}
</table>
{% endblock %}

