{% extends 'base.html' %}

{% block content %}
<title>Organizations</title>
<h1>Organizations</h1>
Click a row in the table to be taken to that organization's profile.
<table>
    <tr>
        <th>Name</th>
        <th>Contact Person</th>
        <th>Contact Phone</th>
        <th>Contact e-mail</th>
    </tr>
{% for organization in organizations %}
    <tr class='clickable' onclick="window.location='{% url 'orgdetail' organization.orgID %}'">
        <td>{{organization.orgName}}</td>
        <td>{{organization.orgContact}}</td>
        <td>{{organization.orgPhone}}</td>
        <td>{{organization.orgEmail}}</td>
    </tr>       
{% endfor %}
</table>
{% endblock %}